<div class="nav-wrapper">
  <a href="{{ site.baseurl }}/" class="nav-btn">Domů</a>
<!-- ROZBALOVACI TLACITKO -->
  <div class="dropdown">
    <button class="nav-btn" onclick="toggleMenu()">Úvod ▾</button>
    <div class="dropdown-content" id="myDropdown">
      <a href="{{ site.baseurl }}/relax-selfcare.html">Relax selfcare</a>
      <a href="{{ site.baseurl }}/hobbies.html.html">Hobbies</a>
      <a href="{{ site.baseurl }}/children-caring.html">Children caring</a>
      <a href="{{ site.baseurl }}/cleaning.html">Cleaning</a>
      <a href="{{ site.baseurl }}/baking.html">Baking</a>
      <a href="{{ site.baseurl }}/cooking.html">Cooking</a>
    </div>
  </div>

<!-- TLACITKA -->
  <a href="{{ site.baseurl }}/o-mne.html" class="nav-btn">O mně</a>
  <a href="{{ site.baseurl }}/kontakt.html" class="nav-btn">Kontakt</a>
</div>

<script src="{{ site.baseurl }}/assets/js/dropdown.js"></script>
