---
<div class="side-menu-trigger" id="sideMenuTrigger">
  <div class="hamburger-icon" onclick="toggleSideMenu()">☰</div>
  <div class="side-menu" id="sideMenu">
    <a href="{{ site.baseurl }}/">Domů</a>
    <a href="{{ site.baseurl }}/baking.html">Baking</a>
    <a href="{{ site.baseurl }}/children-caring.html">Children caring</a>
    <a href="{{ site.baseurl }}/cleaning.html">Cleaning</a>
    <a href="{{ site.baseurl }}/cooking.html">Cooking</a>
    <a href="{{ site.baseurl }}/dancing.html">Dancing</a>
    <a href="{{ site.baseurl }}/dream-comes-true.html">Dream comes true</a>
    <a href="{{ site.baseurl }}/everyday-earthday.html">Everyday earthday</a>
    <a href="{{ site.baseurl }}/family-hug-times.html">Family hug times</a>
    <a href="{{ site.baseurl }}/hand-made.html">Hand made</a>
    <a href="{{ site.baseurl }}/happiness.html">Happines</a>
    <a href="{{ site.baseurl }}/hobbies.html">Hobbies</a>
    <a href="{{ site.baseurl }}/intuitive-beautyself.html">Intuitive beautyself</a>
    <a href="{{ site.baseurl }}/painting.html">Painting</a>
    <a href="{{ site.baseurl }}/relax-selfcare.html">Relax selfcare</a>
    <a href="{{ site.baseurl }}/season.html">Season</a>
    <a href="{{ site.baseurl }}/singing.html">Singing</a>
    <a href="{{ site.baseurl }}/summer-days.html">Summer days</a>
    <a href="{{ site.baseurl }}/writing-poetry.html">Writing poetry</a>
  </div>
</div>

<script src="{{ site.baseurl }}/assets/js/sidemenu.js"></script>
